* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}
.prelode * {
  -webkit-animation: none;
  -webkit-transition: none;
}

.home {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
}

.left {
  width: 25%;
  height: 100%;
  background-image: url("img/sand.png");
  position: relative;
}

.white {
  width: 40px;
  height: 80px;
  background-color: white;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(0, -50%);
  box-shadow: 2px 3px 5px black;
}

.logo {
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  position: relative;
  color: rgb(110, 109, 109);
  display: flex;
  width: 30%;
  padding-top: 5px;
  padding-left: 5px;
  cursor: default;
  z-index: 6;
}
.logo::before {
  content: "shine";
  position: absolute;
  top: 100%;
  left: 80%;
  color: rgb(251, 251, 251);
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
}

.right {
  width: 75%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  position: relative;
}

.right h1 {
  color: white;
  font-family: "poppins", sans-serif;
  font-weight: 100;
  font-size: 80px;
  position: absolute;
  left: 60%;
  top: 30%;
}

.navbar ul {
  font-size: 16px;
  position: absolute;
  right: 10%;
  display: flex;
  z-index: 1;
  padding-top: 20px;
}
.navbar a {
  color: white;
  font-family: "poppins", sans-serif;
  margin: 30px;
  z-index: 1;
}
.social-logo {
  width: 100px;
  height: 35px;
  background-color: white;
  color: black;
  font-family: "poppins", sans-serif;
  position: fixed;
  right: 0;
  top: 40%;
  text-align: center;
  font-weight: 900;
  line-height: 35px;
  z-index: 2;
  cursor: default;
}
.social {
  position: fixed;
  right: 5px;
  top: 45%;
  display: inline-block;
  z-index: 2;
}
.soc {
  color: rgb(104, 104, 104);
  display: block;
  margin: 15px;
  font-size: 20px;
  z-index: 2;
  transition: 0.3s;
}

.portfolio-button {
  width: 50%;
  height: 80px;
  background-color: rgb(0, 0, 0);
  font-family: "poppins", sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  line-height: 80px;
  display: block;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  transition: 0.1s;
  overflow: hidden;
  z-index: 1;
}

.portfolio-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: translateX(-101%);
  transition: 0.2s;
  z-index: -1;
}
.portfolio-button:hover::before {
  transform: translateX(0);
}
.portfolio-button:hover {
  color: black;
}
.portfolio-button-second {
  width: 40%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  font-family: "poppins", sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  line-height: 80px;
  display: none;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  transition: 0.1s;
  overflow: hidden;
  z-index: 1;
}

.portfolio-button-second::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transform: translateX(-101%);
  transition: 0.2s;
  z-index: -1;
}
.quality {
  font-family: "poppins", sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}
.right .name {
  z-index: 1;
  font-size: 80px;
  cursor: default;
}
.surname {
  display: block;
  position: relative;
  transition: 0.1s;
  overflow: hidden;
}
.surname::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 85%;
  background-color: white;
  transform: translateX(-101%);
  transition: 0.2s;
  z-index: -1;
}
.surname:hover::before {
  transform: translateX(0);
}
.surname:hover {
  color: black;
}

/* TYPE WRITER */

.typewriter {
  width: 100%;
  height: 100%;
  position: relative;
}

/* ABOUT */

.about {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-image: url("img/sand.png");
  overflow: hidden;
  display: block;
  transition: 0.5s;
}

.about-image {
  object-fit: cover;
  z-index: -1;
  transform: translateX(0%);
  transition: 0.6s ease-in-out;
}
.sub-text {
  font-family: "Playfair Display", sans-serif;
  display: block;
  width: 650px;
  height: 50px;
  font-size: 28px;

  color: rgb(0, 0, 0);
  position: absolute;
  right: 10%;
  top: 30%;
  overflow: hidden;
  z-index: 1;
}
.load-text {
  font-family: "Playfair Display", sans-serif;
  width: 650px;
  height: 200px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  position: absolute;
  right: 10%;
  top: 40%;

  letter-spacing: 1px;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 20px;
  z-index: 1;
}
.contact {
  margin-top: 30px;
  font-family: "Playfair Display", sans-serif;
  width: 650px;
  height: 800px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  position: absolute;
  right: 10%;
  top: 60%;
  z-index: 1;
}
@media all and (max-width: 1700px) {
  .about .about-image {
    opacity: 0.3;
  }
}
@media all and (max-width: 1458px) {
  .right .name {
    font-size: 80px;
    left: 40%;
  }
  .main {
    opacity: 0.3;
  }
}
@media all and (max-width: 1134px) {
  .main {
    opacity: 0.3;
    width: 150%;
  }
  .right .name {
    font-size: 60px;
    left: 25%;
  }
  .left .quality {
    font-size: 30px;
    left: 40%;
  }
  .portfolio-button {
    font-size: 20px;
    width: 100%;
  }
  .surname {
    color: black;
  }
  .surname::before {
    transform: translateX(0);
  }
  .about .sub-text,
  .load-text {
    left: 20%;
    margin-top: -10vh;
  }
  .about .contact {
    left: 20%;
  }
}
@media all and (max-width: 922px) {
  .right .name {
    left: 25%;
  }
  .about .sub-text,
  .load-text {
    left: 5%;
    margin-top: -10vh;
  }
  .about .contact {
    left: 5%;
  }
}
@media all and (max-width: 758px) {
  .about .load-text {
    font-size: 15px;
    width: 80%;
  }
  .about .sub-text {
    font-size: 20px;
    width: 80%;
  }
  .about .contact {
    font-size: 15px;
    width: 80%;
  }
}
@media all and (max-width: 646px) {
  .right .name {
    font-size: 50px;
    left: 20%;
  }
}
@media all and (max-width: 557px) {
  .home {
    flex-direction: column;
  }
  .left {
    display: none;
  }
  .right {
    width: 100%;
  }
  .right .name {
    font-size: 50px;
    left: 20%;
  }
  .portfolio-button-second {
    display: block;
  }
}
@media all and (max-width: 414px) {
  .right .name {
    font-size: 45px;
    left: 15%;
  }
  .social-logo {
    width: 60px;
    font-size: 12px;
  }
  .portfolio-button-second {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
  }
  .navbar ul {
    right: 5%;
  }
  .main {
    width: 180%;
  }
}
@media all and (max-width: 375px) {
  .navbar ul {
    right: 0%;
  }
}
@media all and (max-width: 360px) {
  .navbar ul {
    right: -3%;
  }
  .navbar a {
    font-size: 13px;
  }

  .load-text {
    font-size: 12px !important;
    margin-top: -7vh;
  }
  .social-logo {
    width: 40px;
    height: 30px;
    line-height: 30px;
    font-size: 9px;
  }
  .social a {
    font-size: 15px;
  }
  .sub-text {
    height: 60px;
  }
}

/* CLIENT */

.client {
  position: absolute;
  width: 0%;
  height: 300%;
  background-color: black;
  z-index: 1;
}

.navbar-client ul {
  font-size: 16px;
  position: absolute;
  right: 10%;
  display: flex;
  z-index: 1;
  padding-top: 20px;
}
.navbar-client a {
  color: white;
  font-family: "poppins", sans-serif;
  margin: 30px;
  z-index: 1;
}

.client1 {
  position: absolute;
  left: 30%;
  top: 8%;
  transform: translateX(-100%);
}
.client1-text {
  min-width: 800px;
  position: absolute;
  left: 80%;
  top: 20%;
  font-weight: 100;
  transform: translateX(-100%);
  font-size: 20px;
  color: white;
  font-family: "poppins", sans-serif;
  cursor: default;
  border: 1px white solid;
  border-radius: 20px;
  padding: 10px;
}
.client2 {
  position: absolute;
  left: 30%;
  top: 38%;
  transform: translateX(-100%);
}
.client2-text {
  min-width: 800px;
  position: absolute;
  left: 80%;
  top: 50%;
  font-weight: 100;
  transform: translateX(-100%);
  font-size: 20px;
  color: white;
  font-family: "poppins", sans-serif;
  cursor: default;
  border: 1px white solid;
  border-radius: 20px;
  padding: 10px;
}
.client3 {
  position: absolute;
  left: 30%;
  top: 68%;
  transform: translateX(-100%);
}
.client3-text {
  min-width: 800px;
  position: absolute;
  left: 80%;
  top: 80%;
  font-weight: 100;
  transform: translateX(-100%);
  font-size: 20px;
  color: white;
  font-family: "poppins", sans-serif;
  cursor: default;
  border: 1px white solid;
  border-radius: 20px;
  padding: 10px;
}
.client .fab {
  color: white;
  letter-spacing: 10px;
}

.client-name {
  color: white;
  min-width: 800px;
  position: absolute;
  font-weight: 100;
  transform: translateX(-100%);
  font-size: 35px;
  font-family: "poppins", sans-serif;
  cursor: default;
}
.client-name1 {
  left: 80%;
  top: 15%;
}
.client-name2 {
  left: 80%;
  top: 45%;
}
.client-name3 {
  left: 80%;
  top: 75%;
}

.client-name span {
  font-size: 12px;
}
