* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}
.prelode * {
  -webkit-animation: none;
  -webkit-transition: none;
}

.home {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
}

.left {
  width: 25%;
  height: 100%;
  background-color: rgb(26, 138, 113);
  position: relative;
}

.logo {
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  position: relative;
  display: flex;
  width: 30%;
  padding-top: 5px;
  padding-left: 5px;
}
.logo::before {
  content: "shine";
  position: absolute;
  top: 100%;
  left: 80%;
  color: white;
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
}

.right {
  width: 75%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

.right h1 {
  color: white;
  font-family: "poppins", sans-serif;
  font-weight: 100;
  font-size: 80px;
  position: absolute;
  left: 60%;
  top: 30%;
}

.navbar ul {
  width: 35%;
  display: flex;
  font-family: "poppins";
  font-size: 16px;
  float: right;
  padding-top: 20px;
}
.navbar a {
  color: white;
  margin: 30px;
}
.social-logo {
  width: 100px;
  height: 35px;
  background-color: white;
  color: black;
  font-family: "poppins", sans-serif;
  position: fixed;
  right: 0;
  top: 40%;
  text-align: center;
  font-weight: 900;
  line-height: 35px;
  z-index: 1;
}
.social {
  position: fixed;
  right: 5px;
  top: 45%;
  display: inline-block;
  z-index: 1;
}
.social a {
  color: white;
  display: block;
  margin: 15px;
  font-size: 20px;
  z-index: 1;
}

.portfolio-button {
  width: 50%;
  height: 80px;
  background-color: rgb(180, 180, 180);
  font-family: "poppins", sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  line-height: 80px;
  display: block;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
}

.quality {
  font-family: "poppins", sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}
.quality::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  left: -80%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.name {
  z-index: 1;
}
.surname {
  display: block;
  position: relative;
  transition: 0.1s;
  overflow: hidden;
}
.surname::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 85%;
  background-color: white;
  transform: translateX(-101%);
  transition: 0.2s;
  z-index: -1;
}
.surname:hover::before {
  transform: translateX(0);
}
.surname:hover {
  color: black;
}

/* TYPE WRITER */

.typewriter {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}
.typewriter::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(26, 138, 113);
  z-index: 1;
}
.typewriter1::before {
  animation: type1 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.typewriter2::before {
  animation: type2 1.5s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}
.typewriter3::before {
  animation: type3 1.5s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes type1 {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
@keyframes type2 {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
@keyframes type3 {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
