*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.right{
    position: absolute;
    width: 50%;
    height: 100vh;
    right: 0;
    background-image: linear-gradient( to left, #000000, #000000);
}

.name{
    position: absolute;
    font-family: 'oswald', sans-serif;
    font-size: 40px;
    color: white;
    right: 3vw;
    top: 80%;
    letter-spacing: 5px;

}
.sub-name{
    position: absolute;
    font-family: 'oswald', sans-serif;
    font-size: 20px;
    color: rgb(155, 155, 155);
    right: 3vw;
    top: 88%;
    letter-spacing: 5px;
}
.big-letter{
    position: absolute;
    font-family: 'oswald', sans-serif;
    font-size: 100px;
    color: rgb(0, 0, 0);
    right: 55%;
    top: 50%;
    transform: translate(-50%);
    letter-spacing: 5px;
}
.big-letter::before{
    position: absolute;
    content: '';
    width: 250px;
    height: 2px;
    background-color: gray;
    top: 100%;
}
.big-letter::after{
    position: absolute;
    content: '00000';
    font-size: 15px;
color: gray;
    width: 250px;
    height: 2px;
    background-color: gray;
    top: 100%;
    left: 60%;
}


/* HAMBURGER */

.hamburger{
    position: absolute;
    width: 30px;
    height: 30px;
cursor: pointer;
    left: 2vw;
    top: 2vh;
    z-index: 1;
    transition: .2s;
}
.hamburger .line{
  
    height: 2px;
    background-color: rgb(10, 7, 7);
   
}
.line1  {  
    width: 30px;
    position: absolute;
    top: 20%;
    animation: line1 1s infinite;
}
.line2  {  
    width: 20px;
    position: absolute;
    top: 40%;
    animation: line2 .6s infinite;
}
.hamburger .line3  {  
    width: 25px;
    position: absolute;
    top: 60%;
    animation: line3 .8s infinite;
}

.hamburger:hover{
    height: 25px;
}

.sidebar{
    font-family: 'poppins', sans-serif;
    transform: translateX(-160%);
    top: 10%;
    left: 2vw;
    position: fixed;
  
}

@keyframes sidebar{
    from{
      opacity: 0;
        transform: translateX(-160%) ;
    }
    to{ opacity: 1;
        transform: translateX(0%) ;
      
    }
}
@keyframes sidebarback{
    from{
        opacity: 1;
        transform: translateX(0%) ;
    }
    to{ opacity: 0;
        transform: translateX(-160%);
       
    }
}
.sidebar a{
    color:black;
    font-size: 17px;
    
    font-weight: 400;
    transition: .2s;
    line-height: 30px;
}
.sidebar a:hover{
    font-size: 19px;
}

/* LINE ANIMATION */

@keyframes line1{
    0%{
        width: 30px;

    }
    50%{
        width: 0px;
    }
    100%{
        width: 30px;
    }
}
@keyframes line2{
    0%{
        width: 20px;

    }
    50%{
        width: 0px;
    }
    100%{
        width: 20px;
    }
}
@keyframes line3{
    0%{
        width: 25px;

    }
    50%{
        width: 0px;
    }
    100%{
        width: 25px;
    }
}

.scroll-down{
    position: absolute;
    width: 20px;
    height: 150px;
    top: 80%;
    left: 48%;

}
.scroll-down p{
    letter-spacing: 5px;
margin-left: 20px;
font-weight: 600;
    font-size: 13px;
    font-family: 'poppins',sans-serif;
    transform: rotateZ(-90deg);
}

.scroll-down::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 130px;
    transform: translateX(50%);
    background-color: rgb(2, 2, 2);
    right: 0;
    bottom: 0;
}
.arrow{
    position: absolute;
    width: 2px;
    height: 20px;
    top: 88%;
    left: 59%;
    background-color: rgb(0, 0, 0);
    transform: rotateZ(-45deg);

}

/* LOGO */
.logo{
    font-family: 'OSWALD', sans-serif;
    position: absolute;
    color: white;
    top: 2vh;
    right: 2vw;
    }
    .logo::before{
        position: absolute;
        content: '';
        transform: translateY(100%);
        width: 100%;
        height: 1px;
        background-color: rgb(255, 255, 255);
    }
    .logo::after{
        position: absolute;
        content: '';
        transform: translateY(-100%);
        width: 100%;
        height: 1px;
        background-color: rgb(255, 255, 255);
    }

    .background{
        position: absolute;
        bottom: 0;
        left: 0;
opacity: .5;
        width: 50%;
    }

    .navigation{
        height: 200px;
        width: 20px;

        right: 2vh;
        top: 50%;
        position: absolute;
        z-index: 1;
    }
 .navigation  .dot{
     cursor: pointer;
        width: 15px;
        height: 15px;
        background-color: transparent;
        position: absolute;
border-radius: 40px;
border: solid 1px white;
transition: .2s;
    }

    .dot1{
        top: 0%;
    }
    .dot2{
        top: 20%;
    }
    .dot3{
        top: 40%;
    }
    .dot:hover{
        background-color: white;
        border: solid 1px black;
    }
    /* SOCIALS */
    
.social {
    position: absolute;
    right: 2vw;
    top: 50vh;

    display: flex;
flex-direction: column;
    z-index: 3;
  }
  .fab {
    color: rgb(255, 255, 255);
    display: block;
    margin: 15px;
    font-size: 20px;
    z-index: 3;
    transition: 0.3s;
  }

  .right img{
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
  }

.gray-box{
    position: absolute;
    width: 250px;
    height: 100px;
    background-color: rgb(185, 185, 185);
    top: 50%;
    left: 5%;
}
