*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    
    overflow-x: hidden;
}

.right{
    position: absolute;
    width: 50%;
    height: 100vh;
    right: 0;
    background-color: rgb(8, 3, 15);
}

.name{
    position: absolute;
    font-family: 'oswald', sans-serif;
    font-size: 40px;
    color: white;
    right: 3vw;
    top: 80%;
    letter-spacing: 5px;

}
.sub-name{
    position: absolute;
    font-family: 'oswald', sans-serif;
    font-size: 20px;
    color: rgb(155, 155, 155);
    right: 3vw;
    top: 88%;
    letter-spacing: 5px;
}
.big-letter{
    position: absolute;
    font-family: 'oswald', sans-serif;
    font-size: 100px;
    color: rgb(0, 0, 0);
    left: 5vw;
    top: 50%;

    letter-spacing: 5px;
}
.big-letter::before{
    position: absolute;
    content: '';
    width: 250px;
    height: 2px;
    background-color: gray;
    top: 100%;
}
.big-letter::after{
    position: absolute;
    content: '';
    font-size: 15px;
color: gray;
    width: 250px;
    height: 2px;
    background-color: gray;
    top: 100%;
    left: 60%;
}

.numbers{
    top: 82%;
    left: 23%;
    position: absolute;
    width: 100px;
    height: 20px;
font-family: 'oswald', sans-serif;
color: rgb(70, 70, 70);

}
.num1{
    animation: num1 .3s forwards infinite;
    position: absolute;
    top: 200%;
    transform: rotateZ(0deg);
}
.num2{
    position: absolute;
    left: 50px;
    transform: rotateZ(179deg);
    animation: num2 .4s forwards infinite;
}


.num3::before{
   content: '2';
   position: absolute;
   top: 100%;
}
.num4::before{
   content: '0 3';
   position: absolute;
   top: 100%;
}
@keyframes num1{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(-179deg);
    }
}
@keyframes num2{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(179deg);
    }
}

/* HAMBURGER */

.hamburger{
    position: fixed;
    width: 30px;
    height: 30px;
cursor: pointer;
    left: 2vw;
    top: 2vh;
    z-index: 1;
    transition: .2s;
}
.hamburger .line{
  z-index: 3;
    height: 2px;
    background-color: rgb(10, 7, 7);
   
}
.line1  {  
    width: 30px;
    position: absolute;
    top: 20%;
    animation: line1 1s infinite;
}
.line2  {  
    width: 20px;
    position: absolute;
    top: 40%;
    animation: line2 .6s infinite;
}
.hamburger .line3  {  
    width: 25px;
    position: absolute;
    top: 60%;
    animation: line3 .8s infinite;
}



.sidebar{
    font-family: 'poppins', sans-serif;
    transform: translateX(-160%);
    top: 10%;
    left: 2vw;
    z-index: 5;
    position: fixed;
  
}

@keyframes sidebar{
    from{
      opacity: 0;
        transform: translateX(-160%) ;
    }
    to{ opacity: 1;
        transform: translateX(0%) ;
      
    }
}
@keyframes sidebarback{
    from{
        opacity: 1;
        transform: translateX(0%) ;
    }
    to{ opacity: 0;
        transform: translateX(-160%);
       
    }
}
.sidebar a{
    color:black;
    font-size: 17px;
    
    font-weight: 400;
    transition: .2s;
    line-height: 30px;
}
.sidebar a:hover{
    font-size: 19px;
}

/* LINE ANIMATION */

@keyframes line1{
    0%{
        width: 30px;

    }
    50%{
        width: 0px;
    }
    100%{
        width: 30px;
    }
}
@keyframes line2{
    0%{
        width: 20px;

    }
    50%{
        width: 0px;
    }
    100%{
        width: 20px;
    }
}
@keyframes line3{
    0%{
        width: 25px;

    }
    50%{
        width: 0px;
    }
    100%{
        width: 25px;
    }
}

.scroll-down{
    position: absolute;
    width: 20px;
    height: 150px;
    top: 80%;
    left: 48%;

}
.scroll-down p{
    letter-spacing: 5px;
margin-left: 20px;
font-weight: 600;
    font-size: 13px;
    font-family: 'poppins',sans-serif;
    transform: rotateZ(-90deg);
}

.scroll-down::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 130px;
    transform: translateX(50%);
    background-color: rgb(2, 2, 2);
    right: 0;
    bottom: 0;
}
.arrow{
    position: absolute;
    width: 2px;
    height: 20px;
    top: 88%;
    left: 59%;
    background-color: rgb(0, 0, 0);
    transform: rotateZ(-45deg);

}

/* LOGO */
.logo{
    font-family: 'OSWALD', sans-serif;
    position: absolute;
    color: white;
    top: 2vh;
    right: 2vw;
    }
    .logo::before{
        position: absolute;
        content: '';
        transform: translateY(100%);
        width: 100%;
        height: 1px;
        background-color: rgb(255, 255, 255);
    }
    .logo::after{
        position: absolute;
        content: '';
        transform: translateY(-100%);
        width: 100%;
        height: 1px;
        background-color: rgb(255, 255, 255);
    }

    .background{
        position: absolute;
        bottom: 0;
        left: 0;
opacity: .5;
        width: 50%;
    }

    
 
    /* SOCIALS */
    
.social {
    position: absolute;
    right: 2vw;
    top: 50vh;

    display: flex;
flex-direction: column;
    z-index: 3;
  }
  .fab {
    color: rgb(255, 255, 255);
    display: block;
    margin: 15px;
    font-size: 20px;
    z-index: 3;
    transition: 0.3s;
  }

  .right img{
      position: absolute;
      left: 0;
     object-fit: cover;
     height: 100vh;
     width: 70%;
  
  }

.gray-box{
    position: absolute;
    width: 250px;
    height: 100px;
    background-color: rgb(185, 185, 185);
    top: 50%;
    left: 5%;
}

/* SECTION 1 */

.section1{
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 100vh;
    background-color: black;
}
.heading1{
    position: absolute;
    left: 10vw;
    top: 20vh;
    font-family: 'oswald', sans-serif;
    color: white;
    font-size: 35px;
    font-weight: 900;
}
.heading1::before{
    position: absolute;
    content: 'PROJECTS 0001';
font-family: 'poppins', sans-serif;
font-weight: 400;
font-size: 12px;
top: 100%;
}
.heading1::after{
    position: absolute;
    content: '0000 s';
    width: 100px;
    height: 1px;
    background-color: white;
font-family: 'poppins', sans-serif;
font-weight: 400;
font-size: 12px;
top: 120%;
}
.box1{
    position: absolute;
    top: 40%;
    left: 20%;
    width: 500px;
    height: 500px;
    background-color: rgb(238, 66, 14);
    transition: .5s;
}
.box2{
    position: absolute;
    top: 8%;
    left: 50%;
    width: 500px;
    height: 800px;
    background-color: rgb(255, 255, 255);
}

.box1 img{
    width: 90%;
  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.cover{
    position: absolute;
    background-color: rgb(221, 221, 221);
    width: 200px;
    height: 500px;
    z-index: 1;
    box-shadow: 3px 3px 10px 3px black;
    left: 5%;
transition: 1s;
}

.cover p{
    width: 100%;
    position: absolute;
    transform: rotateZ(-90deg);
    font-family: 'poppins';
    top: 50%;
    font-size: 20px;
    color: black;
}
.cover span{
   font-size: 20px;
   letter-spacing: 10px;
   font-weight: 900;
}

.date{
    position: absolute;
    font-family: 'oswald', sans-serif;
    font-size: 30px;
    font-weight: 100;
    left: 10%;
    top: 5%;
    color: black;
}
.date::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    background-color: black;
    top: 100%;
}

.cover.active{
    left: 60%;
    background-color: rgb(93, 93, 93);
}
.box1:hover .cover{
    transition: .5s;
left: 0;
background-color: white;
}


.box1::before{

    content: '';
    position: absolute;
    width: 300px;
    height: 2px;
    background-color: #fff;
    top: -5%;
    left: -5%;
}
.box2::before{
  width: 450px;
  height: 750px;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
border: 2px solid black;
  content: '';
  z-index: 1;
  position: absolute;
}

.about-project{
    width: 80%;
    position: absolute;
    font-family: 'poppins', sans-serif;
    top: 10%;
    transform: translate(-50%,-50%);
    left: 50%;
    font-weight: 500;
}
.about-project span{
    font-weight: 800;
}

.box2 img{
    position: absolute;
    top: 30%;
    object-fit: cover;
}
.types{
   width: 100%;
height: 30%;
    position: absolute;
    font-family: 'poppins', sans-serif;
    top: 65%;
    transform: translate(-50%,-50%) rotate(90deg);
    left: 70%;
    letter-spacing: 10px;
    font-size: 13px;
    line-height: 50px;
    font-weight: 900;
    animation: type 5s infinite;
}

@keyframes type{
    0%{
        letter-spacing: 6px;
    }
    50%{
        letter-spacing: 10px;
    }
    100%{
        letter-spacing: 6px;
    }
}
/* SCROLL 2 */

.scroll-down1{
    position: absolute;
    width: 20px;
    height: 150px;
    top: 80%;
    left: 95%;

}
.scroll-down1 p{
    letter-spacing: 5px;
margin-left: 20px;
font-weight: 600;
    font-size: 13px;
    font-family: 'poppins',sans-serif;
    transform: rotateZ(-90deg);
    color: white;
}

.scroll-down1::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 130px;
    transform: translateX(50%);
    background-color: rgb(255, 255, 255);
    right: 0;
    bottom: 0;
}
.arrow1{
    position: absolute;
    width: 2px;
    height: 20px;
    top: 88%;
    left: 59%;
    background-color: rgb(255, 255, 255);
    transform: rotateZ(-45deg);

}

/* SECTION 2 */

.section2{
    position: relative;
    top: 200vh;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.heading2{
    z-index: 1;
    position: absolute;
    left: 10vw;
    top: 10vh;
    font-family: 'oswald', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 900;
}
.heading2::before{
    position: absolute;
    content: 'PROJECTS 0002 ';
font-family: 'poppins', sans-serif;
font-weight: 500;
font-size: 12px;
top: 100%;
}
.heading2::after{
    position: absolute;
    content: '0000 s';
    width: 100px;
    height: 2px;
    background-color: rgb(0, 0, 0);
font-family: 'poppins', sans-serif;
font-weight: 500;
font-size: 12px;
top: 120%;
}

.section2 .box-second{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    transition: .5s;
}
.section2 .box-second img{
  width: 100%;
  height: 100%;
  object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

.section2 .image1{
transition: .3s;
    left: 50%;
}

.cover-second{
    position: absolute;
    background-color: rgb(221, 221, 221);
    width: 200px;
    height: 500px;
    z-index: 1;
    box-shadow: 3px 3px 10px 3px black;
    left: 5%;
transition: 1s;
}

.cover-second p{
    width: 100%;
    position: absolute;
    transform: rotateZ(-90deg);
    font-family: 'poppins';
    top: 50%;
    font-size: 20px;
    color: black;
}
.cover-second span{
   font-size: 20px;
   letter-spacing: 10px;
   font-weight: 900;
}

.cover-second .date{
    position: absolute;
    font-family: 'oswald', sans-serif;
    font-size: 30px;
    font-weight: 100;
    left: 10%;
    top: 5%;
    color: black;
}
.cover-second .date::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    background-color: black;
    top: 100%;
}

.box-second:hover .cover-second{
    left: 0;
    background-color: white;
}

.big-box{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 750px;
    height: 400px;
    background-image: url('img/sand.png');
    background-repeat: repeat;
}

.big-box h1{
    position: absolute;
    width: 80%;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 10px;
}
.big-box p{
    position: absolute;
    width: 80%;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
}
.big-box a{
    color: black;
    font-weight: 800;
}

.big-box p::before{
    position: absolute;
    content: '0000 8888';
    font-size: 12px;
    top: 130%;
    width: 50%;
    height: 2px;
    background-color: rgb(59, 59, 59);

}
.big-box p::after{
    position: absolute;
    content: '';
    top: 130%;
    left: 55%;
    width: 50%;
    height: 2px;
    background-color: rgb(59, 59, 59);
}

.line.active{
  background-color: #fff;
    
}
.link.active{
color: #fff;

}
/* CARD */
.card{
    position: absolute;
    top: 60%;
    left: 55%;
    background-color: rgb(219, 219, 219);
    width: 500px;
    overflow: hidden;
    -webkit-box-shadow: 10px 15px 20px -9px rgba(0,0,0,0.48);
-moz-box-shadow: 10px 15px 20px -9px rgba(0,0,0,0.48);
box-shadow: 10px 15px 20px -9px rgba(0,0,0,0.48);
    height: 250px;
}
.card::before{
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    left: 0;
    
    background-color: yellow;
}
.card::after{
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    top: 50%;
    border-radius: 100px;
    transform: translate(50%,-50%);
    right: 0;
    -webkit-box-shadow: -9px 3px 38px -1px rgba(0,0,0,0.48);
-moz-box-shadow: -9px 3px 38px -1px rgba(0,0,0,0.48);
box-shadow: -9px 3px 38px -1px rgba(0,0,0,0.48);
    background-color: rgb(31, 31, 31);
}
.card-logo{
    position: absolute;
    font-size: 80px;
    font-family: 'Abril Fatface', sans-serif;
    z-index: 1;
} 

/* SECTION 3 */

.section3{
   
        position: absolute;
        top: 300vh;
        width: 100%;
        height: 100vh;
        background-color: rgb(224, 221, 221);
    }

    
.heading3{
    z-index: 1;
    position: absolute;
    left: 10vw;
    top: 10vh;
    font-family: 'oswald', sans-serif;
    color: rgb(19, 10, 10);
    font-size: 35px;
    font-weight: 900;
}
.heading3::before{
    position: absolute;
    content: 'PROJECTS 0003 ';
font-family: 'poppins', sans-serif;
font-weight: 500;
font-size: 12px;
top: 100%;
}
.heading3::after{
    position: absolute;
    content: '0000 s';
    width: 100px;
    height: 2px;
    background-color: rgb(0, 0, 0);
font-family: 'poppins', sans-serif;
font-weight: 500;
font-size: 12px;
top: 120%;
}

.section3 .box-third{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    transition: .5s;
}
.section3 .box-third img{
  width: 100%;
  height: 100%;
  object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

.section3 .image1{
transition: .3s;
    left: 50%;
}

.cover-third{
    position: absolute;
    background-color: rgb(20, 56, 66);
    width: 200px;
    height: 500px;
    z-index: 1;
    box-shadow: 3px 3px 10px 3px black;
    left: 5%;
transition: 1s;
}

.cover-third p{
    width: 100%;
    position: absolute;
    transform: rotateZ(-90deg);
    font-family: 'poppins';
    top: 50%;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.cover-third span{
   font-size: 20px;
   letter-spacing: 10px;
   font-weight: 900;
}

.cover-third .date{
    position: absolute;
    font-family: 'oswald', sans-serif;
    font-size: 30px;
    font-weight: 100;
    left: 10%;
    top: 5%;
    color: rgb(255, 255, 255);
}
.cover-third .date::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    top: 100%;
}

.box-third:hover .cover-third{
    left: 0;
    background-color: rgb(14, 21, 43);
}
.big-box3{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 750px;
    height: 400px;
    background-color: black;
    background-repeat: repeat;
    overflow: hidden;
    -webkit-box-shadow: -9px 3px 38px -1px rgba(0,0,0,0.48);
    -moz-box-shadow: -9px 3px 38px -1px rgba(0,0,0,0.48);
    box-shadow: -9px 3px 38px -1px rgba(0,0,0,0.48);
}

.big-box3 h1{
    position: absolute;
    width: 80%;
    left: 50%;
    color: white;
    top: 20%;
    transform: translate(-50%,-50%);
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 10px;
}
.big-box3 p{
    position: absolute;
    width: 80%;
    color: white;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 2px;
}
.big-box3 img{
    width: 400px;
    object-fit: cover;
    height: 200px;
    position: absolute;
    left: 50%;
    top:70%;
    transform: translate(-50%,-50%);
}
.card3{
    position: absolute;
    top: 60%;
    left: 55%;
    background-color: rgb(141, 141, 141);
    width: 500px;
    overflow: hidden;
    -webkit-box-shadow: 10px 15px 20px -9px rgba(0,0,0,0.48);
-moz-box-shadow: 10px 15px 20px -9px rgba(0,0,0,0.48);
box-shadow: 10px 15px 20px -9px rgba(0,0,0,0.48);
    height: 250px;
}
.card3::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    left: 0;
    
    background-color: rgb(27, 28, 29);
}
.card3::after{
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    top: 50%;
    border-radius: 100px;
    transform: translate(50%,-50%);
    right: 0;
    -webkit-box-shadow: -9px 3px 38px -1px rgba(0,0,0,0.48);
-moz-box-shadow: -9px 3px 38px -1px rgba(0,0,0,0.48);
box-shadow: -9px 3px 38px -1px rgba(0,0,0,0.48);
    background-color: rgb(255, 255, 255);
}
/* FORM */

form .email {
    border: none;
    width: 300px;
    position: absolute;
    left: 5%;
    top: 50%;
    font-size: 15px;
    font-family: "poppins", sans-serif;
    transform: translate(0%, -50%);
    height: 40px;
  }
  form .submit {
    width: 100px;
    position: absolute;
    left: 80%;
    top: 50%;
    font-weight: 500;
    cursor: pointer;
    font-family: "poppins", sans-serif;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    border: none;
    font-size: 17px;
    background-color: rgb(255, 255, 255);
    height: 40px;
  }
  .subscribe-logo{
     position: absolute;
      font-family: 'oswald',sans-serif;
      font-size: 23px;
      left: 5%;
      color: rgb(255, 255, 255);
      top: 5%;
      z-index: 2;
  }
  
.scroll-down3{
    position: absolute;
    width: 20px;
    height: 150px;
    top: 80%;
    left: 94%;

}
.scroll-down3 a{
    display: block;
    color: black;
    letter-spacing: 5px;
margin-left: 20px;
font-weight: 600;
    font-size: 13px;
    font-family: 'poppins',sans-serif;
   transform: rotateZ(-90deg);
}

.scroll-down3::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 130px;
    transform: translateX(50%);
    background-color: rgb(2, 2, 2);
    right: 0;
    bottom: 0;
}
.arrow3{
    position: absolute;
    width: 2px;
    height: 20px;
    top: 12%;
    left: 59%;
    background-color: rgb(0, 0, 0);
    transform: rotateZ(45deg);

}
html{
    scroll-behavior: smooth;
}

/* MEDIA */

@media all and (max-width:1800px){
    .box2{
    
        left: 60%;
        height: 750px;
      
    }
    .box2::before{
      
        height: 700px;
   
      }
      .box1{
          top: 30%;
      }
      .heading1{
          top: 10%;
      }
}
@media all and (max-width:1511px){
    .box1{
        top: 30%;
        left: 10%;
    }
    .box2{
    
        left: 50%;
        height: 750px;
      
    }
 .big-box,.big-box3{
     width: 650px;
     height: 300px;
 }
 .big-box h1{
  
  
    font-size: 13px ;
  
}
 .big-box3 p{
  
  
    font-size: 13px ;
  
}
 .big-box3 h1{
  
   
    font-size: 13px ;
  
}
 .big-box p{
  

    font-size: 13px ;
  
}

.right img{
  
   height: 100%;
   width: 100%;
opacity: .6;
}

}
@media all and (max-width:1319px){
    .box1{
        
        left: 10%;
    }
    .box2{
        width: 400px;
        height: 600px;
        left: 55%;
        top: 20%;    
    }
    .box2::before{
      
        height: 550px;
        width: 350px;
   
      }
      .box2 img{
        width: 300px;
        height: 400px;
           
    }
      .box2 .type{
        font-size: 10px;
        letter-spacing: 8px;
           
    }
 .big-box,.big-box3{
     width: 550px;
     height: 300px;
 }

}

@media all and (max-width:1257px){
    .big-box,.big-box3{
        width: 500px;
        height: 350px;
        left: 55%;
    }
    .big-letter{
        font-size: 60px;
        top: 60%;
    }
    .gray-box{
        top: 55%;
    }
    .scroll-down{
        left: 46%;
    }
    .scroll-down3{
        left: 97%;
    }
}
@media all and (max-width:1187px){
    .big-box,.big-box3{
        width: 450px;
      
    }
    .big-box h1{
        width: 90%;
        top: 5vh;
        font-size: 14px;
        letter-spacing: 5px;
       
    }
    .big-box p{
        width: 90%;
        top: 19vh;
        font-size: 14px;
    letter-spacing: 0px;
       
    }
  .box1{
    left: 15%;
      width: 400px;
      height: 400px;
  }
  .cover{
   
    width: 150px;
    height: 400px;
 
}
.section2 .box-second{
    left: 15%;
    width: 400px;
    height:400px;
  
}
.section3 .box-third{
    left: 15%;
    width: 400px;
    height:400px;
  
}
.cover-second,.cover-third{
    height: 400px;
}
.card,.card3{
    width: 380px;
    height: 200px;
}
.card .card-logo{
    font-size: 60px;
}
.card3 .submit{
    left: 50%;
    top: 80%;
}
.scroll-down3{
    left: 94%;
}
}
@media all and (max-width:1024px){
   
   .hamburger,.sidebar{
       position: absolute;
   }
   .card,.card3{
    top: 45%;
}
.box1{
    left: 5%;
}
.section2 .box-second{
    left: 5%;
   
  
}
.section3 .box-third{
    left: 5%;
   
  
}
.scroll-down3{
    left: 94%;
    top: 50%;
}
.gray-box{
    top: 59%;
    height: 70px;
}
.numbers{
    top: 75%;
}
.big-box p{
    top: 13vh;

}
.big-box3 p{
    top: 13vh;

}
}
@media all and (max-width:1023px){
    .card,.card3{
        top: 70%;
    }
    .scroll-down3{
        left: 94%;
        top: 80%;
    }
    .card3,.card{
        left: 50%;
    }
    .big-box p{
        top: 19vh;
    
    }
    .big-box3 p{
        top: 19vh;
    }
    .numbers{
        top: 63%;
    }
    .big-letter{
        top: 40%;
    }
    .gray-box{
        top: 38%;
    }
    .big-box,.big-box3{
        left: 50%;
    }
    .box2{
        left: 50%;
    }
}
@media all and (max-width:915px){
.box1{
    width: 350px;
    height: 350px;
}
.cover{
    width: 100px;
    height: 350px;
}
.cover p{
    font-size: 13px;
}
.cover span{
    letter-spacing: 6px;
    font-size: 13px;
}
.section2 .box-second{
    width: 350px;
    height: 350px;
}
.section2 .cover-second{
    width: 100px;
    height: 350px;
}
.cover-second p{
    font-size: 13px;
}
.cover-second span{
    letter-spacing: 6px;
    font-size: 13px;
}
.section3 .box-third{
    width: 350px;
    height: 350px;
}
.section3 .cover-third{
    width: 100px;
    height: 350px;
}
.cover-third p{
    font-size: 13px;
}
.cover-third span{
    letter-spacing: 6px;
    font-size: 13px;
}
.big-box,.big-box3{
    width: 370px;
}
.box2{
    width: 350px;
    height: 550px;
}
.box2::before{
    width: 300px;
    height: 480px;
}
.box2 p{
    font-size: 13px;
}
.box2 img{
    top: 20%;
    width: 60%;
}
.box2 .type{
    font-size: 10px;
    letter-spacing: 5px;
       
}
.big-box3 h1{
    font-size: 10px;
}
}

@media all and (max-width:874px){
    .scroll-down3{
        left: 2%;
    }
    .big-letter::after{
        display: none;
    }
    .big-box{
        width: 320px;
        left: 53%;
    }
    .big-box p{
     font-size: 12px;
    }
    .big-box h1{
     font-size: 13px;
    }
    .big-box3{
        width: 320px;
        left: 53%;
    }
    .big-box3 p{
     font-size: 12px;
     width: 90%;
    }
    .big-box3 h1{
     font-size: 12px;
     width: 90%;
    }
    .big-box3 img{
        width: 70%;
    }
    .card,.card3{
        width: 320px;
        height: 150px;
        left: 53%;
    }
    .card3 .submit{
        font-size: 14px;
        width: 80px;
        height: 30px;
    }
    .card3 .email{
        height: 30px;
    }
    .scroll-down1{
        left: 2%;
        
    }
    .box2{
        left: 53%;
    }
    .box1{
        top: 25%;
    }
}
@media all and (max-width:768px){
    .scroll-down3{
        left: 2%;
        top: 76%;
    }
    .big-box{
        width: 320px;
        left: 53%;
    }
    .big-box p{
     font-size: 12px;
     top: 17vh;
    }
    .big-box h1{
     font-size: 13px;
     letter-spacing: 5px;
    }
    .big-box3{
      
        left: 53%;
    }
    .big-box3 p{
   
     top: 15vh;
  
    }
    .big-box3 h1{
  
     letter-spacing: 5px;
    }
}

@media all and (max-width:746px){

    .box2{
        width: 300px;
        height: 500px;
        left: 55%;
    }
.box2::before{
    display: none;
}
.name{
    font-size: 30px;
}
.sub-name{
    font-size: 18px;
}
.big-letter{
    font-size: 40px;
    letter-spacing: 5px;
    left: 2vw;
}
.gray-box{
    left: 2vw;
    top: 35%;
}
.numbers{
    top: 55%;
}
.right{
    width: 60% !important;
}
.heading1,.heading2,.heading3{
    top: 2vh;
    left: 2vh;
}
.box1{
    left: 2vw;
}
.box1::before{
    display: none;
}
.section2 .box-second{
    left: 2vw;
    top: 25%;
}
.section3 .box-third{
    left: 2vw;
    top: 25%;
}
}

@media all and (max-width: 691px){
.box1{
    left: 60%;
    top: 25%;
    transform: translate(-50%,-50%);
}
.box2{
    top: 75%;
    height: 400px;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 350px;
}
.box2 img{
    height: 70%;
}
.big-box{
    height: 200px;
    width: 400px;
    left: 35%;
    top: 2vh;
}
.big-box p{
    top: 60%;
    font-size: 11px;
}
.big-box p::before{
  display: none;
    
}
.big-box p::after{
   
    display: none;
    
}
.card{
    
    left: 35%;
    top: 80%;
}
.section2 .box-second{
    top: 32vh;
}
.big-box3{
    height: 200px;
    width: 400px;
    left: 35%;
    top: 2vh;
}
.big-box3 p{
    top: 60%;
    font-size: 11px;
}
.big-box3 p::before{
  display: none;
    
}
.big-box3 p::after{
   
    display: none;
    
}
.card3{
    
    left: 35%;
    top: 80%;
}
.big-box3 img{
    display: none;
}
.section3 .box-third{
    top: 32vh;
}
.scroll-down3{
    top: 79%;
}
.big-letter{
    font-size: 25px;
    left: ;
}
.big-letter::before{
    display: none;
}
.gray-box{
    top: 40%;
    width: 100px !important;
    height: 30px;
}

.numbers{
    left: 10%;
    top: 50%;
}
.heading1,.heading2,.heading3{
    font-size: 20px;
}
.heading1::before{


font-size: 9px;

}
.heading1::after{
  
    width: 50px;
    height: 1px;

font-size: 8px;
top: 115%;
}
.heading2::before{


font-size: 9px;

}
.heading2::after{
  
    width: 50px;
    height: 1px;

font-size: 8px;
top: 115%;
}
.heading3::before{


font-size: 9px;

}
.heading3::after{
  
    width: 50px;
    height: 1px;

font-size: 8px;
top: 115%;
}
.right{
    width: 70% !important;
}
}
@media all and (max-width: 691px){
    .big-box, .big-box3, .card3, .card{
        left: 60%;
        transform: translate(-50%);
    }
    .section2 .box-second{
        left: 60%;
        transform: translate(-50%);
        width: 400px;
    }
    .section3 .box-third{
        left: 60%;
        transform: translate(-50%);
        width: 400px;
    }
    .big-letter{
        font-size: 18px;
    }
}
@media all and (max-width: 539px){
.big-box,.big-box3{
    width: 350px;
    left: 60%;
        transform: translate(-50%);
}
.section2 .box-second{
    width: 350px;
    left: 60%;
        transform: translate(-50%);
}
.section3 .box-third{
    width: 350px;
    left: 60%;
    transform: translate(-50%);
}
.card,.card3{
    left: 60%;
    transform: translate(-50%);
}
}
@media all and (max-width: 455px){
.heading1::after{
    display: none;
}
.heading2::after{
    display: none;
}
.heading3::after{
    display: none;
}
.box1,.box2{
    width: 300px;
}
.big-box,.big-box3{
    width: 300px;
}
.big-box p{
    top: 15vh;
    line-height: 12px;
}
.big-box3 p{
    top: 15vh;
    line-height: 12px;
}
.section2 .box-second{
    width: 300px;
}
.card{
    width: 300px;
}
.section3 .box-third{
    width: 300px;
}
.card3{
    width: 300px;
}
.big-letter{
    display: none !important;
}
.gray-box{
    display: none;
}
.right{
    width: 75% !important   ;
}
.numbers{
    left: 1vh;
}
}
@media all and (max-width: 414px){

.box1,.box2{
    width: 300px;
    height: 300px;
}
.box1 .cover{
    height: 300px;
}
.box2  p{
    width: 90%;
    font-size: 12px;
}
.box2 .type{
    letter-spacing: 1px;
   
}
.types{
    top: 80%;
}
.big-box,.big-box3{
    width: 300px;
}
.big-box p{
    top: 17vh;
    line-height: 12px;
}
.big-box3 p{
    top: 18vh;
    line-height: 12px;
}
.big-box3 h1{
    letter-spacing: 3px;
}
.big-box h1{
    letter-spacing: 3px;
}
.section2 .box-second{
    width: 300px;
    height: 300px;
}
.section2 .cover-second{
    height: 300px;
}
.card{
    width: 300px;
    height: 100px;
}
.section3 .box-third{
    width: 300px;
    height: 300px;
}
.section3 .cover-third{
    height: 300px;
}
.card3{
    top: 76%;
    width: 300px;
}
.big-letter{
    display: none !important;
}
.name{
    font-size: 20px;
}
.sub-name{
    font-size: 12px;
}
.scroll-down1{
    top: 70%;
}
.scroll-down{
    left: 2vw;
    top: 75%;
}
}

@media all and (max-width: 380px){
.section2 .big-box{
    width: 280px;
    height: 180px;
}
.section2 .big-box p{
top: 16vh;
}

.section3 .big-box3{
    width: 280px;
    height: 180px;
}
.scroll-down3{
    left: 2vw;
    top: 70%;
}
.box1,.box2{
    width: 280px;
    height: 300px;
}
.section2 .box-second{
    width: 280px;
}
.section3 .box-third{
    width: 280px;
}
.card,.card3{
    width: 280px;
    height: 120px;
    top: 80%;
}
.card span{
    display: none;
}
.card3 .subscribe-logo{
    font-size: 20px;
}
.section2 .box-second .date{
    font-size: 20px;
}
.section3 .box-third .date{
    font-size: 20px;
}
.card::after{
    width: 30px;
    height: 30px;
}
.card3::after{
    width: 30px;
    height: 30px;
}
}

@media all and (max-width: 357px){
    .heading1,.heading2,.heading3{
        display: none;
    }
.section2 .big-box{
    left: 50%;
    width: 260px;
    height: 160px;
}
.section2 .big-box p{
top: 18vh;
}
.section3 .big-box3{
    left: 50%;
    width: 260px;
    height: 150px;
}
.scroll-down3{
    left: 2vw;
    top: 70%;
}
.box1,.box2{
    left: 50%;
    width: 260px;
    height: 270px;
}
.box1 .cover{
     height: 270px;
}
.section2 .box-second{
    width: 260px;
    height: 270px;
    left: 50%;
}
.section3 .box-third{
    width: 260px;
    height: 270px;
    left: 50%;
}
.section2 .cover-second{
    height: 270px;
}
.section3 .cover-third{
    height: 270px;
}
.card,.card3{
    width: 260px;
    height: 90px;
    top: 82%;
    left: 50%;
}
.card span{
    display: none;
}
.card3 .subscribe-logo{
    font-size: 20px;
}
.big-box3 h1{
    font-size: 11px;
}
.big-box h1{
    font-size: 11px;
}
.scroll-down3{
    display: none;
}
.scroll-down1{
    display: none;
}
.scroll-down{
    display: none;
}
.date{
    font-size: 19px !important;
}
.card::after{
    width: 30px ;
    height: 30px;
}
.card3::after{
    display: none;
}
.card3 .subscribe-logo{
    font-size: 13px;
} 
.card3 .submit{
    height: 18px;
}
.card3 .email{
    font-size: 11px;
}
}

@media (orientation: landscape) and (max-width:1024px){
.card,.card3{
    top: 60%;
}
.scroll-down3{
top: 70%;
}
.scroll-down1{
top: 70%;
}
.big-box3 h1{
    letter-spacing: 3px;
}
.big-box h1{
    letter-spacing: 3px;
}
.big-box p{
   top: 18vh;
}
.big-box3 p{
   top: 18vh;
}
.big-letter{
    top: 40%;


}
.gray-box{
    top: 40%;
}
.numbers{
    top: 65%;
}
}
@media (orientation: landscape) and (max-width:812px){
    .big-letter::before{
        width: 180px;
    }
.card, .card3{
    display: none;
}

.big-letter{
    top: 40%;
    left: 15vw;
font-size: 30px;
}
.big-letter::after{
    display: none;
}
.gray-box{
    width: 120px !important;
    left: 15vw;
    top: 40%;
    height: 50px;
}
.name{
    font-size: 20px;
    left: 20%;
}
.sub-name{
    font-size: 14px;
    left: 20%;
}
.heading1,.heading2,.heading3{
    display: none;
}

.box1,.box2{
    width: 300px;
    height: 300px;
    top:10vh;
}
.section2 .box-second{
    width: 300px;
    height: 300px;
    left: 10%;
    top:10vh;
}
.box1{
    left: 10%;
}
.box2::before{
    display: none;
}
.box1::before{
    display: none;
}
.box2 img{
    height: 70%;
}
.box2 .types{
    top: 70%;
}
.box1 .cover{
    height: 300px;
}
.box2  p{
    width: 90%;
    font-size: 12px;
}
.box2 .type{
    letter-spacing: 1px;
   
}
.box-second .cover-second{
    height: 300px;
   
}
.box-third .cover-third{
    height: 300px;
   
}
.section3 .box-third{
    top: 10%;
    width: 300px;
    height: 300px;
    left: 10%;
}
.big-box,.big-box3{
    height: 300px;
}
.big-box p{
    top: 40vh;
}
.big-box h1{
    top: 10vh;
}
.big-box3 p{
    top: 30vh;
}
.big-box3 h1{
    top: 10vh;
}
.scroll-down3{
    top: 50%;
    left: 1vw;
}
.scroll-down1{
    top: 50%;
}
.scroll-down{
    top: 50%;
   
}
}
@media (orientation: landscape) and (max-width:736px){
    .scroll-down{
      left: 35%;
       
    }
    .big-letter{
        left: 5vh;
        font-size: 18px;
    }
    .big-letter::before{
        width: 110px;
    }
    .gray-box{
        width: 80px !important;
        height: 30px;
        left: 5vh;
    }
    .numbers{
        left: 5vh;
        top: 55%;
    }
}

@media (orientation: landscape) and (max-width:667px){
   
    .big-letter{
        top: 40%;
        left: 5vw;
    font-size: 20px;
    }
   
    .gray-box{
        width: 120px !important;
        left: 5vw;
        top: 40%;
        height: 30px;
    }
   
    .heading1,.heading2,.heading3{
        display: none;
    }
    
    .box1{
        width: 250px;
        height: 250px;
        top:50vh;
        left: 30vw;
    }
    .section1 .box2{
        top: 50vh;
        left: 75%;
        width: 250px;
        height: 300px;
    }
    .section2 .box-second{
        width: 250px;
        height: 250px;
        left: 30%;
        top:10vh;
    }
    .section3 .box-third{
        left: 30vw;
        width: 250px;
        height: 250px;
    }
    .box-third .cover-third{
        height: 250px;
    }
  .box1 .cover{
      height: 250px;
  }
  .box-second .cover-second{
      height: 250px;
  }
 .section2 .big-box{
    top: 10vh;
     left: 75%;
     width: 250px;
 }
 .section3 .big-box3{
     left: 75%;
     top: 10vh;
     width: 250px;
 }
 .numbers{
     left: 5vw;
 }
 .box1 p{
     font-size: 12px;
 }
 .box1 .date{
     font-size: 20px;
 }
 .box-second p{
     font-size: 12px;
 }
 .box-second .date{
     font-size: 20px;
 }
 .box-third p{
     font-size: 12px;
 }
 .box-third .date{
     font-size: 20px;
 }
    }

    @media (orientation: landscape) and (max-width: 568px){
.numbers{
    top: 58%;
    left: 2vw;
}
.big-letter{
   font-size: 16px;
    left: 2vw;
}
.gray-box{
    top: 39%;
    left: 2vw;
}
.scroll-down{
    left: 25%;
   
}
.scroll-down p{
    font-size: 10px;
}
.section2 .big-box{
    height: 250px;
}
.section2 .big-box h1{
    letter-spacing: 1px;
}
.section2 .big-box p{
   top: 45vh;
}
.section3 .big-box3{
    height: 250px;
}
    }

    